{{!< default}}



<div class="text-center w-100" style="margin-top: 35vh;">
        <h1 style="color: whitesmoke; -webkit-text-stroke: 0.25px black;">Welcome to Milk Crate</h1>
        <a href="/login" class="btn btn-success">Log in with Spotify</a>
</div>


