body {
    background-image: url("/img/backgroundOne.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-attachment: fixed;
}

.divider {
    margin-top: 130px;
}

#playerContainer, #currentRecordContainer, #currentSongContainer {
    align-items: center;
    display: flex;
    justify-content: center;
}

#currentRecordImage {
    position: absolute;
    top: 50px;
    right: 63px;
    height: 55px;
    width: 55px;
    border-radius:90px;
}

#vinylTemplate {
    width: 150px;
    height: 150px;
}

.recordBox {
    position: relative;
}

.animate {
    animation: rotate 4s infinite linear;
}

.paused{
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused; 
    animation-play-state:paused;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to { 
      transform: rotate(360deg);
    }
}

.playerButtons {
    color: rgb(37, 37, 37)
}

.playerButtons:focus, input[type="button"]:focus {
    outline: none;
}

#trash {
    position: fixed; 
    bottom:0; 
    right:0; 
    width: 100px;
    height: 100px;
}

#plus {
    position: fixed; 
    bottom:0; 
    right:0; 
    width: 150px;
    height: 150px;
}

.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 40px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 20px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 14vw;
    caret-color: #007bff;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #007bff;
    }

    .search_icon{
    height: 20px;
    width: 20px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }

    .glow{
    
    box-shadow:
      0 0 00px 00px rgba(255, 255, 255, 0),  /* inner white */
      0 0 00px 00px rgba(255, 255, 255, 0), /* middle magenta */
      0 0 50px 0px rgba(255, 255, 255, 0.52); /* outer cyan */
    }

    .filter {
    -webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
    -moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
    -ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
    -o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
    filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
    }

    .smAlbum{
        position: relative;
        width: 50px;
        height: 50px;
        float: left;
    }

    .show:hover .plus{
        display:block;
    }
    
    .plus {
        right: 50px;
        display:none;
        position: relative;
        z-index: 100;
    }